.hotel-view {
    flex: 1;
    min-height: calc(100vh - 7rem);

    &__detail {
        display: flex;
        padding: 4.5rem;
        background-color: var(--color-gray-light-2);
        border-bottom: var(--line);

        @media only screen and (max-width: $bp-medium) {
            padding: 3rem;
        }
    }

    &__description {
        flex: 0 0 60%;
        margin-right: 4.5rem;
        padding: 3rem;
        background-color: var(--color-white);
        box-shadow: var(--shadow-subtle);

        @media only screen and (max-width: $bp-medium) {
            margin-right: 3rem;
            padding: 2rem;
        }
    }

    &__user-reviews {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
